---
import Section from "@layouts/Section.astro";

import Tabs from "@components/Tabs.astro";
import TabItem from "@components/TabItem.astro";
import PersonDescription from "@components/PersonDescription.astro";
import Slider from "@components/Slider/Slider.astro";

import getCollectionEntries from "@helpers/collections/getCollectionEntries";
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);

const aboutUsEntries = (await getCollectionEntries("about-us", language))[0];
const boardsEntries = await getCollectionEntries("board", language);
const auditCommitteesEntries = await getCollectionEntries(
  "audit-committee",
  language,
);
---

<Section title={t("section_titles.about_us")}>
  <Tabs
    list={[
      {
        tab: t("categories.association"),
        id: "association",
      },
      {
        tab: t("categories.board"),
        id: "board",
      },
      {
        tab: t("categories.audit_committee"),
        id: "audit_committee",
      },
    ]}
  >
    <TabItem id="association">
      <aboutUsEntries.Content />
    </TabItem>

    <TabItem id="board">
      <Slider language={language}>
        {
          boardsEntries.map((entry) => (
            <div id={entry.slug}>
              <PersonDescription
                name={entry.data.name}
                photo={entry.data.photo}
                title={entry.data.title}
                language={language}
              >
                <entry.Content />
              </PersonDescription>
            </div>
          ))
        }
      </Slider>
    </TabItem>

    <TabItem id="audit_committee">
      <Slider language={language}>
        {
          auditCommitteesEntries.map((entry) => (
            <div id={entry.slug}>
              <PersonDescription
                name={entry.data.name}
                photo={entry.data.photo}
                title={entry.data.title}
                language={language}
              >
                <entry.Content />
              </PersonDescription>
            </div>
          ))
        }
      </Slider>
    </TabItem>
  </Tabs>
</Section>
