---
import { getCollection } from "astro:content";

import Section from "@layouts/Section.astro";
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);

const associationInfoCollection = await getCollection("association-info");
const associationInfo = associationInfoCollection.find(
  ({ id }) => id === `${language}/main`,
);

if (!associationInfo) throw new Error("Association info is missing");
---

<Section title={t("section_titles.contact")}>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0">
    <div class="col-span-1 md:col-span-1">
      <h3 class="font-bold">{t("contact.office")}:</h3>
      <p class="mt-3 mb-0">
        <a href={associationInfo.data.addressLink}>
          {associationInfo.data.addressPartOne}
          <br />
          {associationInfo.data.addressPartTwo}
        </a>
      </p>
    </div>
    <div class="col-span-1 md:col-span-2">
      <p class="mb-3 mt-0">
        <span>
          <span class="font-bold mr-1">{t("contact.questions")}:</span>
          <a href=`mailto:${associationInfo.data.emailQuestions}`>
            {associationInfo.data.emailQuestions}
          </a>
        </span>
      </p>
      <p class="col-span-1 md:col-span-2 mb-3 mt-0">
        <span class="font-bold mr-1">{t("contact.support")}:</span>
        <a href=`mailto:${associationInfo.data.emailHelp}`>
          {associationInfo.data.emailHelp}
        </a>
      </p>
      <p class="mb-3 mt-0">
        <span class="font-bold mr-1">{t("contact.rodo")}:</span>
        <a href=`mailto:${associationInfo.data.emailRodo}`
          >{associationInfo.data.emailRodo}
        </a>
      </p>
      <p class="mb-3 mt-0">
        <span class="font-bold mr-1">{t("contact.phone")}:</span>
        {associationInfo.data.tel}
      </p>
    </div>
    <div class="hidden md:block col-span-3 grid-row-start-2">
      <iframe
        title="Google maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.815611051249!2d19.45457077643611!3d51.77297797187484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcba2e0685ba3%3A0xcabf7d1d9e9428cf!2sStowarzyszenie%20Fabryka%20R%C3%B3wno%C5%9Bci!5e0!3m2!1sen!2ses!4v1691925154740!5m2!1sen!2ses"
        width="100%"
        height="800px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</Section>
