---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import LanguageSwitch from "../layouts/LanguageSwitch.astro";
import Logo from "../components/Logo.astro";
import arrowDown from "../images/move_down.png";
import { Image } from "astro:assets";
import Tabs from "../components/Tabs.astro";
import { getCollection } from "astro:content";
import Slider from "../components/Slider.astro";
import PersonDescription from "../components/PersonDescription.astro";
import TabItem from "../components/TabItem.astro";
import Project from "../components/Project.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import splitIntoChunks from "../helpers/splitIntoChunks.mts";

const aboutUsCollection = await getCollection("about-us");
const { Content: AssociationContent } =
  (await aboutUsCollection
    .find(({ slug }) => slug === "association")
    ?.render()) ?? {};
if (!AssociationContent) throw new Error("Association content is missing");

const boardMembersCollection = await getCollection("board");
const boardsContent = await Promise.all(
  boardMembersCollection.map(async (entry) => {
    return {
      ...entry,
      Content: (await entry.render()).Content,
    };
  }),
);

const auditCommitteeCollection = await getCollection("audit-committee");
const auditCommitteeContent = await Promise.all(
  auditCommitteeCollection.map(async (entry) => {
    return {
      ...entry,
      Content: (await entry.render()).Content,
    };
  }),
);

const projectsCollection = await getCollection("projects");
const projectsContentChunks = splitIntoChunks(
  await Promise.all(
    projectsCollection.map(async (entry) => {
      return {
        ...entry,
        Content: (await entry.render()).Content,
      };
    }),
  ),
  4,
);

const supportCollection = await getCollection("support");
const supportContent = await Promise.all(
  supportCollection.map(async (entry) => {
    return {
      ...entry,
      Content: (await entry.render()).Content,
    };
  }),
);

const contactInfoCollection = await getCollection("contact");
const contactInfo = contactInfoCollection.find(({ id }) => id === "contact");

if (!contactInfo) throw new Error("Contact info is missing");
---

<Layout title="Welcome to Astro.">
  <header class="w-full h-full min-h-5xl bg-primary grid">
    <LanguageSwitch />
    <div
      class="pt-2 flex flex-col text-center justify-beetwen h-full items-center text-white"
    >
      <Logo />
      <h1 class="text-6xl font-bold mt-5">To z fabryk wychodzą rewolucje!</h1>
    </div>

    <!-- TODO: Arror down here -->
  </header>
  <div class="relative">
    <svg viewBox="0 0 375 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="19" width="375" height="67" fill="url(#paint0_linear_1_2)"
      ></rect>
      <path
        d="M42.6016 35.6211C68.8516 40.4219 95.4766 44.3945 122.25 42.1445C148.125 39.9727 171.977 27.4492 198 26.5508C224.398 25.6484 250.875 30.2969 276.449 36.2227C319.422 46.1211 353.473 33.9727 374.996 21.4492V0H0.00390625V26.7734C14.0273 30.4492 28.5039 33.0742 42.6016 35.6211Z"
        fill="#776391"></path>
      <defs>
        <linearGradient
          id="paint0_linear_1_2"
          x1="187.5"
          y1="19"
          x2="187.5"
          y2="86"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.4"></stop>
          <stop offset="0.703125" stop-opacity="0.08"></stop>
          <stop offset="1" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>
    <Image
      class="absolute top-15 left-1/2 -translate-x-1/2"
      src={arrowDown}
      alt="Arrow down to body"
      width={90}
      height={90}
    />
  </div>

  <!-- TODO: Navigation here -->
  <Section title="O nas">
    <Tabs
      list={[
        {
          tab: "Category1",
          id: "category-1",
        },
        {
          tab: "Category2",
          id: "category-2",
        },
        {
          tab: "Category3",
          id: "category-3",
        },
      ]}
    >
      <TabItem id="category-1">
        <AssociationContent />
      </TabItem>

      <TabItem id="category-2">
        <Slider list={boardsContent.map(({ slug }) => slug)}>
          {
            boardsContent.map((entry) => (
              <div id={entry.slug}>
                <PersonDescription
                  name={entry.data.name}
                  photo={entry.data.photo}
                  title={entry.data.title}
                >
                  <entry.Content />
                </PersonDescription>
              </div>
            ))
          }
        </Slider>
      </TabItem>

      <TabItem id="category-3">
        <Slider list={auditCommitteeContent.map(({ slug }) => slug)}>
          {
            auditCommitteeContent.map((entry) => (
              <div id={entry.slug}>
                <PersonDescription
                  name={entry.data.name}
                  photo={entry.data.photo}
                  title={entry.data.title}
                >
                  <entry.Content />
                </PersonDescription>
              </div>
            ))
          }
        </Slider>
      </TabItem>
    </Tabs>
  </Section>

  <Section title="Projekty">
    <Slider>
      {
        projectsContentChunks.map((chunk) => {
          return (
            <ProjectsGrid>
              {chunk.map((entry) => (
                <Project name={entry.data.name}>
                  <entry.Content />
                </Project>
              ))}
            </ProjectsGrid>
          );
        })
      }
    </Slider>
  </Section>

  <Section title="Wsparcie">
    <Tabs
      list={supportContent.map(({ data: { name }, slug }) => ({
        tab: name,
        id: slug,
      }))}
    >
      {
        supportContent.map((entry) => (
          <TabItem id={entry.slug}>
            <entry.Content />
          </TabItem>
        ))
      }
    </Tabs>
  </Section>

  <Section title="Kontakt">
    <div
      class="grid grid-cols-3"
      style={{ gridTemplateRows: "minmax(0, 1fr), 800px" }}
    >
      <div class="col-span-1">
        <span class="text-4xl font-bold">Biuro:</span>
        {/* NOTE: Uhuhuhu, XSS risky */}
        <p class="text-2xl mt-3" set:html={contactInfo.data.address} />
      </div>
      <div class="col-span-2">
        <p class="text-2xl mb-3">
          <span>
            <span class="font-bold">Zapytania ogólne:</span>
            {contactInfo.data.emailQuestions}
          </span>
        </p>
        <p class="text-2xl mb-3">
          <span class="font-bold">Wsparcie i pomoc:</span>
          {contactInfo.data.emailHelp}
        </p>
        <p class="text-2xl mb-3">
          <span class="font-bold">Dane osobowe:</span>
          {contactInfo.data.emailRodo}
        </p>
        <p class="text-2xl mb-3">
          <span class="font-bold">Tel:</span>
          {contactInfo.data.tel}
        </p>
      </div>
      <div class="col-span-3 grid-row-start-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.815611051249!2d19.45457077643611!3d51.77297797187484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcba2e0685ba3%3A0xcabf7d1d9e9428cf!2sStowarzyszenie%20Fabryka%20R%C3%B3wno%C5%9Bci!5e0!3m2!1sen!2ses!4v1691925154740!5m2!1sen!2ses"
          width="100%"
          height="800px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </Section>
</Layout>
