---
import Layout from "@layouts/Layout.astro";

import Navigation from "@components/Navigation.astro";
import Modal from "@components/Modal.astro";
import HamburgerButton from "@components/HamburgerButton.astro";
import LanguageSwitch from "@components/LanguageSwitch.astro";

import { type Language } from "@i18n/languages";

import AboutUs from "./sections/AboutUs.astro";
import Projects from "./sections/Projects.astro";
import Support from "./sections/Support.astro";
import Contact from "./sections/Contact.astro";
import SupportUs from "./sections/SupportUs.astro";
import Documents from "./sections/Documents.astro";

import Header from "../Header.astro";
import Footer from "../Footer.astro";

import "@styles/index.css";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
---

<Layout language={lang}>
  <Header language={lang} classes="xl:min-h-5xl">
    <div class="float-left" slot="toolbar">
      <LanguageSwitch language={lang} />
    </div>
  </Header>

  <div class="hidden xl:block">
    <Navigation
      classes="hidden top-0 fixed"
      id="desktop-menu"
      language={lang}
      autoHide
    />
  </div>

  <HamburgerButton class="xl:hidden">
    <Modal toggleButtonClasses="w-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        slot="toggle-button-icon"
        ><path
          fill="currentcolor"
          d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
        ></path></svg
      >

      <Navigation
        id="mobile-menu"
        classes="absolute top-0 left-0 h-full w-full"
        language={lang}
      />
    </Modal>
  </HamburgerButton>

  <AboutUs language={lang} />
  <Projects language={lang} />
  <Support language={lang} />
  <Contact language={lang} />
  <SupportUs language={lang} />
  <Documents language={lang} />
  <Footer language={lang} />
</Layout>
